.unitImageText {
    display: flex;
    margin: 116px 25px;

    &__sectionwithimg {
        padding-right: 30px;
        width: 75%;
        min-height: 600px;
    }

    &__img {
        background-image: url(../../img/four.jpg);
        background-size: cover;
        background-position: 50%;
        height: 100%;
    }

    &__content {
        max-width: 310px;
        margin: auto 0;
    }

    &__about {
        font-size: 15px;
        line-height: 108%;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        padding-bottom: 11px;
    }

    &__title {
        font-size: 28px;
        line-height: 98%;
        letter-spacing: 0.5px;
        padding-bottom: 39px;
    }

    &__description {
        font-size: 14px;
        line-height: 116%;
        letter-spacing: 0.5px;
        padding-bottom: 20px;
    }

    &__text {
        font-size: 16px;
        line-height: 101%;
        letter-spacing: 0.5px;
        padding-bottom: 21px;
    }

    &__link {
        font-size: 12px;
        line-height: 135%;
        letter-spacing: 1.2px;
        text-transform: uppercase;
        border-bottom: 1px solid;
        padding-bottom: 3px;
        color: var(--black);
    }
}
