.unitSame {
    display: flex;
    background-color: var(--brown);

    &_six {
        background-color: var(--pink);
    }

    &_eight {
        background-color: var(--grey-2);
    }

    &_nine {
        background-color: var(--red);
    }

    &__img {
        width: 1065px;
        height: 688px;
    }

    &__text-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__text {
        margin-bottom: 45px;
        margin-left: 40px;
        padding-right: 20px;
        padding-top: 20px;
    }

    &__title {
        color: var(--grey);
        font-size: 15px;
        line-height: 108%;
        letter-spacing: 0.5px;
        padding-right: 40px;
        margin-top: 39px;
        margin-left: 40px;
    }

    &__description {
        color: var(--grey);
        line-height: 101%;
        letter-spacing: 0.5px;
        padding-bottom: 21px;
    }

    &__link {
        color: var(--grey);
        font-size: 12px;
        line-height: 135%;
        letter-spacing: 1.2px;
        text-transform: uppercase;
        border-bottom: 1px solid;
        padding-bottom: 3px;
        display: inline-block;
    }

    &__caption {
        font-size: 25px;
        line-height: 109%;
        letter-spacing: 0.5px;
        color: var(--grey);
        margin: 40px;
        text-align: right;
    }

    &__threeimg {
        background-image: url("../../img/three.jpg");
        background-position: 50%;
        background-size: cover;
        width: 50%;
        height: 100vh;
        max-height: 800px;
        min-height: 600px;
    }

    &__threeimgparttwo {
        background-image: url("../../img/three_2.jpg");
        background-position: 50%;
        background-size: cover;
        width: 50%;
        height: 100vh;
        max-height: 800px;
        min-height: 600px;
    }

    &__bottomlink {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 100%;
    }

    &__link_black {
        color: var(--black);
        font-size: 12px;
        line-height: 135%;
        letter-spacing: 1.2px;
        text-transform: uppercase;
        border-bottom: 1px solid;
        padding-bottom: 3px;
        display: inline-block;
    }

    &__underline {
        padding: 40px;
        max-width: 310px;
    }
}
